html body {
    margin: 0;
    padding: 0;
}

body{
  /* width: 1643px;
  height: 100%;
  overflow-x: auto; */
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #F6F6FF;
}

.topCon {
    width: 100%;
    height: 64rem;
    background-color: #E1EAF6;
    display: flex;
    flex-direction: row;
}

.topCon img {
    width: 58rem;
    height: 58rem;
    margin: 3rem 0 0 20rem;
}

.topCon div {
    font-family: Source Han Sans;
    font-size: 22rem;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;
    font-variation-settings: "opsz"auto;
    font-feature-settings: "kern"on;
    color: #4F4F4F;
    line-height: 64rem;
    margin-left: 9rem;
}

.sendMessageCon {
    width: 100%;
    /* height: 224px; */
    border-radius: 10px;
    opacity: 1;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.16);
    position: fixed;
    bottom: 0;
}

textarea{
    width: 70%;
    height: 200rem;
    margin: 10rem 20rem;
    padding: 10rem 70rem 0 15rem;
    border: 1rem solid #D1CEE6;
    border-radius: 10rem;
    outline: none;
    resize: none;
    font: inherit;
    line-height: inherit;
    background-color: transparent;
    overflow: auto;
    font-size: 16rem;
}


.sendImg {
    position: absolute;
    right: 5%;
    top: 72%;
    width: 48rem;
    height: 48rem;
    cursor: pointer;
    display: block;
  }
  
  .stopImg {
    position: absolute;
    right: 7%;
    top: 72%;
    width: 38rem;
    height: 38rem;
    display: none;
    cursor: pointer;
  }

  .chat-messages {
    padding: 10rem;
    overflow-y: auto;
    height: 61vh;
  }

  
.message {
    margin: 30rem 0;
    display: flex;
    align-items: flex-start;
  }
  
  .avatar {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    margin-right: 10rem;
  }
  
  .message-content {
    background-color: #ffffff;
    padding: 6rem 16rem;
    max-width: 70%;
    margin: 0 14rem 0 14rem;
    border-radius: 10rem;
    opacity: 1;
    font-family: 思源黑体;
    font-weight: 400;
    font-size: 16rem;
    font-variation-settings: "opsz"auto;
    color: #3D3D3D;
  }
  
  
  .user-message {
    align-self: flex-end;
    flex-direction: row-reverse;
  }

  
.messageImg {
    width: 40rem;
    height: 40rem;
    background-color: #DFEEFF;
    border-radius: 50%;
  }
  
  .messageImg img {
    width: 40rem;
    height: 40rem;
  }


  #sendBtn{
    display: block;
  }