body {
  /* background-color: #F2F2F2; */
}

.chatContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chat-container {
  width: 80%;
  overflow: hidden;
  background-color: #F6F6FF;
  height: 99vh;
  border-radius: 20px;
  margin-right: 1%;
}

.docTalk-chat-container {
  max-width: 90%;
  margin: 10rem auto;
  background-color: #fff;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
  border-radius: 8rem;
  overflow: hidden;
  height: 80vh;
}

.knowledge-chat-container {
  max-width: 90%;
  margin: 10rem auto;
  background-color: #fff;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
  border-radius: 8rem;
  overflow: hidden;
  height: 79vh;
}

.chat-container2 {
  width: 25%;
  margin: 24rem 12rem 24rem 24rem;
  background-color: #fff;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
  border-radius: 8rem;
  overflow: hidden;
  /* height: 720rem; */
}

.chat-container3 {
  width: 75%;
  margin: 24rem 24rem 24rem 12rem;
  background-color: #fff;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
  border-radius: 8rem;
  overflow: hidden;
  /* height: 720rem; */
}

.chat-messages {
  padding: 10rem 37rem;
  overflow-y: auto;
  height: 70vh;
}

.chat-messages2 {
  padding: 10rem;
  overflow-y: auto;
  /* height: 544rem; */
}

.knowledge-chat-messages {
  padding: 10rem;
  overflow-y: auto;
  height: 70vh;
}

.docTalk-chat-messages {
  padding: 10rem;
  overflow-y: auto;
  height: 74vh;
}

.message {
  margin: 30rem 0;
  display: flex;
  align-items: flex-start;
}

.avatar {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  margin-right: 10rem;
}

.message-content {
  background-color: #ffffff;
  padding: 24rem 25rem;
  max-width: 70%;
  margin: 0 14rem 0 14rem;
  border-radius: 10rem;
  opacity: 1;
  font-family: 思源黑体;
  font-weight: 400;
  font-size: 16rem;
  font-variation-settings: "opsz"auto;
  color: #3D3D3D;
}


.user-message {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.input-container {
  display: flex;
  /* background-color: #f2f2f2; */
  position: fixed;
  bottom: 2vh;
  width: 80%;
  border-radius: 5rem;
}

.textareaCon {
  padding: 0 37rem;
  display: flex;
  width: 100%;
}

textarea {
  width: 88%;
  height: 203rem;
  margin: 0 20rem;
  padding: 10rem 120rem 0 15rem;
  border: 1rem solid #D1CEE6;
  border-radius: 10rem;
  outline: none;
  resize: none;
  font: inherit;
  /* 继承父元素的字体样式 */
  line-height: inherit;
  /* 继承父元素的行高 */
  background-color: transparent;
  /* 设置背景为透明 */
  overflow: auto;
  /* 如果需要滚动条，可设置为 auto */
  /* 其他样式根据需求添加 */
}

.sendImg {
  position: absolute;
  right: 4%;
  top: 63%;
  width: 78rem;
  height: 78rem;
  cursor: pointer;
}

.stopImg {
  position: absolute;
  right: 4%;
  top: 64%;
  width: 58rem;
  height: 58rem;
  display: none;
  cursor: pointer;
}

.input-container2 {
  display: flex;
  padding: 10rem;
  background-color: #f2f2f2;
  width: 98%;
  border-radius: 5rem;
}

.input-box {
  flex-grow: 1;
  padding: 8rem;
  border: 1rem solid #ccc;
  border-radius: 4rem;
}

.send-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8rem 12rem;
  margin-left: 10rem;
  border-radius: 4rem;
  cursor: pointer;
  display: block;
}



.treeAdd {
  margin: 10rem;
  text-align: right;
}

.btnGroup {
  margin: 10rem;
}

.docSummary {
  padding: 10rem;
  font-size: 18rem;
}



/* 新 */
html body {
  padding: 0;
  margin: 0;
  width: 100%;
}

iframe {
  height: 90vh;
}

.topContainer {
  width: 100%;
  height: 75rem;
  background-color: #4A87D1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topContainer2 {
  width: 100%;
  height: 75rem;
  background-color: #EAE9F4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titleInfo {
  height: 75rem;
  display: flex;
  flex-direction: row;
  margin-left: 27rem;
}

.titleInfo img {
  width: 72rem;
  height: 72rem;
}

.titleInfo div {
  font-family: Source Han Sans;
  font-size: 28rem;
  font-weight: bold;
  line-height: 75rem;
  letter-spacing: 0em;
  font-variation-settings: "opsz"auto;
  font-feature-settings: "kern"on;
  color: #FFFFFF;
}

.userInfo {
  margin-right: 57rem;
}

.userInfo img {
  width: 36rem;
  height: 36rem;
  margin-top: 19.5rem;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-family: 思源黑体;
  font-size: 18rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz"auto;
  font-feature-settings: "kern"on;
  color: #1E1E1E;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  height: 36rem;
  /* width: 62%; */
  margin: 10rem 12rem;
  padding: 6rem 17rem;
  cursor: pointer;
}

.liImg {
  width: 35rem;
  height: 35rem;
  margin-right: 3rem;
  display: flex;
}

.liImg>img {
  width: 21rem;
  margin: auto;
}

.middleCon {
  display: flex;
  flex-direction: row;
  margin-top: 14rem;
  height: 90vh;
}

.leftNav {
  width: 13%;
  height: 89vh;
  border-radius: 20rem;
  opacity: 1;
  background-color: #EAE9F4;
}

.tab-content {
  width: 87%;
  height: 89vh;
  margin: 0 0 0 1%;
  border-radius: 20rem;
  opacity: 1;
  /* background-color: #F6F6FF; */
}

.lastDate {
  width: 20%;
  height: 99vh;
  border-radius: 20rem;
  opacity: 1;
  background-color: #EAE9F4;
}

.active {
  background-color: #D1CEE6;
  border-radius: 25rem;
  color: #0174FF;
}

.liTxt {
  line-height: 36rem;
  font-size: 14rem;
}

.messageImg {
  width: 60rem;
  height: 60rem;
  background-color: #DFEEFF;
  border-radius: 50%;
}

.messageImg img {
  width: 60rem;
  height: 60rem;
}

.chat-container {
  /* 隐藏浏览器自带的滚动条 */
  scrollbar-width: none;
  /* 适用于Firefox */
  -ms-overflow-style: none;
  /* 适用于IE/Edge */

  /* 自定义滚动条样式 */
  scrollbar-color: #A8A8A8 #F1F1F1;
  /* 滚动条颜色和轨道背景色 */

  /* WebKit浏览器（如Chrome、Safari）滚动条样式 */
  /* 隐藏默认滚动条 */
  ::-webkit-scrollbar {
    display: none;
  }

  /* 自定义滚动条轨道 */
  ::-webkit-scrollbar-track {
    background-color: #F1F1F1;
    /* 轨道背景色 */
  }

  /* 自定义滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    /* 滑块颜色 */
  }

  /* 鼠标悬停时滑块颜色 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #A8A8A8;
    /* 悬停时滑块颜色 */
  }
}

.textareaImg img {
  width: 48rem;
  height: 48rem;
}


textarea {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  /*定义滑块
   内阴影+圆角*/
  /*  鼠标hover的时候才显示滚动条 */
  :hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.lastDate div{
  font-family: Source Han Sans;
  font-size: 18rem;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0em;
  font-variation-settings: "opsz"auto;
  font-feature-settings: "kern"on;
  color: #0174FF;
  padding: 20rem 20rem;
}

