body {}
.layuimini-container {border:1px solid #f2f2f2;border-radius:5px;background-color:#FFF}
.layuimini-main {margin:10px 10px 10px 10px;}

/**必填红点 */
.layuimini-form>.layui-form-item>.required:after {content:'*';color:red;position:absolute;margin-left:4px;font-weight:bold;line-height:1.8em;top:6px;right:5px;}
.layuimini-form>.layui-form-item>.layui-form-label {width:120px !important;}
.layuimini-form>.layui-form-item>.layui-input-block {margin-left:150px !important;}
.layuimini-form>.layui-form-item>.layui-input-block >tip {display:inline-block;margin-top:10px;line-height:10px;font-size:10px;color:#a29c9c;}

    /**自定义滚动条样式 */
    /* @media screen and (min-width:768px) {
    ::-webkit-scrollbar {width: 8px;height: 8px}
    ::-webkit-scrollbar-track {background-color: transparent;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em;}
    ::-webkit-scrollbar-thumb {background-color: #9c9da0;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em}
} */

/**搜索框*/
.layuimini-container .table-search-fieldset {margin: 0;border: 1px solid #e6e6e6;padding: 10px 20px 5px 20px;color: #6b6b6b;}

.layui-form-pane .layui-form-label{width:auto}

.table-search-fieldset{border: 1px solid #E6E6E6;padding: 10px 20px 5px 20px;color: #6b6b6b;}

.layui-elem-field legend{font-size: 14px;color: #6b6b6b}

.step{width: 100%;margin-left: 17px;margin-top: 30px;}

a{cursor: pointer;}
