html body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/loginImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login {
    padding-top: 100rem;
}

.loginCon2 {
    width: 90%;
    height: 585rem;
    border-radius: 15rem;
    opacity: 1;
    background: #FFFFFF;
    margin: auto;
}

.loginConImg {
    width: 100rem;
    height: 100rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 50rem;
    left: 38%;
}

.loginConImg img {
    width: 99%;
}

.registerTitle {
    font-family: Source Han Sans;
    font-size: 22rem;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0em;
    font-variation-settings: "opsz"auto;
    font-feature-settings: "kern"on;
    color: #6498DE;
    text-align: center;
    padding-top: 50rem;
}

.loginConInputName {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 46rem;
    margin: auto;
    border-radius: 5rem;
    opacity: 1;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1rem solid #CACACA;
    margin-top: 10rem;
}

.loginicon {
    width: 30rem;
    height: 30rem;
}

.loginicon img {
    width: 26rem;
    margin: 8rem 0 0 13rem
}

.split {
    width: 1rem;
    height: 30rem;
    background-color: #E0E0E0;
    margin: 8rem 10rem 0 22rem;
}

input {
    border: none;
    font-size: 16rem;
}

input:focus {
    outline: none;
}

::placeholder {
    font-family: Source Han Sans;
    font-size: 13rem;
    font-weight: 350;
    letter-spacing: 0em;
    font-variation-settings: "opsz"auto;
    font-feature-settings: "kern"on;
    color: #B3B3B3;
}

.getCode {
    width: 100rem;
    text-align: center;
    padding: 5rem 8rem;
    margin: 10rem 40rem 0 auto;
    font-family: Source Han Sans;
    font-size: 16rem;
    font-weight: 350;
    line-height: normal;
    letter-spacing: 0em;
    font-variation-settings: "opsz"auto;
    font-feature-settings: "kern"on;
    color: #FFFFFF;
    border-radius: 10rem;
    opacity: 1;
    background: #74C3CD;
}

.loginBtn2 {
    width: 80%;
    height: 45rem;
    border-radius: 25rem;
    opacity: 1;
    background: #006DDE;
    margin: auto;
    font-family: Source Han Sans;
    font-size: 18rem;
    font-weight: 350;
    line-height: 45rem;
    letter-spacing: 0em;
    font-variation-settings: "opsz"auto;
    font-feature-settings: "kern"on;
    color: #FFFFFF;
    text-align: center;
    margin-top: 48rem;
}

#refreshCaptcha {
    /* width: 82rem; */
    height: 29rem;
    margin-right: 14rem;
    margin-top: 5rem;
    cursor: pointer;
    border: 1rem solid #e6e6e6;
    position: absolute;
    right: 0;
}